

.mainheader{

    width: 100%;
    background-image: url(images/gradient-background-.webp);
    padding: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.mainav{
  display: flex;
  width: 100%;
  justify-content: center;
  font-weight: 600;
  font-size: medium;
  text-transform: uppercase;
}
.mainav span{
  color: rgb(255, 0, 0);
}
.mainheader img{
  width: 133px;
  padding: 7px;
  margin-left: 41px;
  margin-top: 5px;
  margin-bottom: -8px;
   
}
.navdropdown{
  background-color: rgb(249, 243, 165);
}
.row a{
  text-decoration: none;
  color: aliceblue;
}


.col0{
  margin-left: 6px;
  background-color: rgb(31, 2, 255);
  transition: transform 1s;
  transform: translate(0,0);

   
}
.col0:hover{

  transform: translate(6px,5px);

}
.search{
  width: fit-content;
    margin-left: 2.2rem;
}



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 50px;
 
}
.waviy span {
  
  position: relative;
  display: inline-block;
  color: rgb(232, 115, 115);
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
  
}

.efarmimg{
    width: 40px;
}

.navbar-brand{
 background-color: rgb(68, 235, 71);
 font-weight: bold;

}
h2{
    color: brown;
}
body{
  background-color: rgb(255 111 111);
    line-height: 2;
}

.frontpage{

  
}
.slide{
    width: 100%;
    height: 100%;
    display: flex;
    
    
}
.secondpage{
    background-image: url(https://img.freepik.com/premium-photo/beautiful-green-cornfield-with-sunset-sky-background_29332-1154.jpg?size=626&ext=jpg&ga=GA1.2.2013187861.1669193858&semt=sph);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
h1{
    text-align: center;
    font-weight: bold;
    color: rgb(0, 255, 38);
}

 .welcome{
    text-align: center;
    color: rgb(3, 3, 3);
    background-color: azure;
}
.combines{
    border-radius:20px;
    background-color: rgb(136, 242, 145);
}
.tractors{
    border-radius: 20px;
    text-decoration: none;
}
.potato{
    border-radius: 20px;
}
.h5{
    font-size: 80px;
}
.learnmore{
border-radius: 20px;

}
.btnl{
    display: grid;
    justify-content: right;
    right: 20px; 
    
}
.cardlast{
  
    width: 35rem;
    height: 11rem;
    border-radius: 25px;
background-image: url(https://img.freepik.com/premium-vector/green-abstract-geometric-background_23-2148378179.jpg?size=626&ext=jpg&ga=GA1.2.2013187861.1669193858);
}
.cardl{
    display: grid;
    justify-content: center;
}


.footerb{
    background-image: url(https://img.freepik.com/free-photo/abstract-smooth-dark-blue-with-black-vignette-studio-well-use-as-backgroundbusiness-reportdigitalwebsite-templatebackdrop_1258-107887.jpg?size=626&ext=jpg&ga=GA1.2.2013187861.1669193858&semt=sph);
    margin-top: 5rem;
   
}
.welcome{
    border-radius: 20px;
    background: rgb(255, 178, 178);
    animation-name: example;
    animation-duration: 10s;
  }
  @keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
  }
  .anim{
    margin-top: 200px;
    height: 200px;
    width: 200px;
    background-color: burlywood;
  }
.hr1{
    margin-top: 195px;
}
.tractor{
text-decoration: none;
}
.cardfirst{
  height: 13rem;
  margin-bottom: 23px;
}
.otherservices{
  width: 100%;
  height: 300px;
}
.col1{
  text-align: center;
  font-weight: bold;
  font-size: larger;
  margin-top: 20px;
  transform: skewX(20deg);
  margin-left: 8%
  margin-right:5%
  height:50px;
  }
.label0{
 
  background: rgb(6 214 32 / 30%);

}
.carousel{
  position: relative;
  z-index: 1;
}
.registrationcard{


position: absolute;
z-index: 2;
} 
.registrationcard a{
  color: #fd0d18;
  
  text-decoration: none;
  font-family: unset;
  font-size: 18px;
  font-weight: 600;
}